body {
	background-color: lightblue;
}
#header {
	display: flex;
	position: fixed;
	top: 0;
}

#header > a {
	text-decoration: none;
	color: darkred;
	font-size: 20px;
	margin: 10px;
	line-height: 30px;
	background-color: gray;
}

h2 {
	text-align: center;
}
#features {
	display: flex;
}
.features-class {
	text-align: justify;
	border: 2px solid black;
	padding: 1rem;
	margin: 1rem;
}
#video-section {
	text-align: center;
	margin: 2rem;
}
#header-img {
	width: 40px;
	display: inline-block;
}

input,
label {
	margin: 0.5rem;
}
#form-section {
	display: flex;
	justify-content: center;
}
form {
	font-size: 1.5rem;
	background-color: #457b9d;
	border-radius: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;
	/* text-align: center; */
}
input {
	padding: 1rem;
}
label {
	margin: 1rem;
	color: white;
}

input[type='submit'] {
	margin: 1rem;
	height: auto;
	border-radius: 5px;
	width: 25%;
	align-self: center;
	display: flex;
	justify-content: center;
	font-size: 1rem;
}

@media (min-width: 2000px) {
	body {
		font-size: 1.5rem;
	}
}
