#header{
    display: flex;
    position: fixed;
    top: 0;
}

#header-img{
    width: 40px;
    display: inline-block;
}

#nav-bar{
    position: relative;
}

@media (max-width: 600px){
    body{
        background-color: lightblue;
    }
}