#header {
	display: flex;
	position: fixed;
	top: 0;
}
h2 {
	text-align: center;
}
#features {
	display: flex;
}
.features-class {
	text-align: justify;
	border: 2px solid black;
	padding: 1rem;
	margin: 1rem;
}
#video-section {
	text-align: center;
	margin: 2rem;
}
#header-img {
	width: 40px;
	display: inline-block;
}

#nav-bar {
	position: relative;
}

@media (max-width: 600px) {
	body {
		background-color: lightblue;
	}
}
